
/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Oxygen', Arial,Verdana,sans-serif; padding-bottom: 0;
   margin-bottom: 160px; /* Margin bottom to match footer height */
}

a, a:active, a:visited {text-decoration: none!important;}	
.blog-post {padding: 0px 0 0px 0;}

/**************************
PAGE NOT FOUND
**************************/
.page-not-found .blog-sidebar {text-align: center;}
.page-not-found i {font-size:100px; padding-top:60px;}

/**************************
NAVBAR
**************************/
.navbar-custom {}

.hamburger {padding:5px 0 0 10px !important;}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {background-color:#fff!important; width: 30px!important;}
.hamburger:hover {opacity: 1!important;}

button:focus {outline: none;}

/**************************
NAVBAR - LOGO
**************************/
.navbar-logo {padding: 0 10px;}

/**************************
NAVBAR - CONTACTS
**************************/
.navbar-contacts {padding: 0 10px;}
.navbar-contacts a {color: rgba(255,255,255,.5); text-decoration: none; padding:0 5px;}
.navbar-contacts a:hover {color: rgba(255,255,255,1);}

/**************************
NAVBAR - SHOP
**************************/
.navbar-shop {padding: 0 10px;}
.navbar-shop a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-shop a:hover {color: rgba(255,255,255,1);}

/**************************
NAVBAR - MEMBERS
**************************/
.navbar-members {padding: 0 10px;}
.navbar-members a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-members a:hover {color: rgba(255,255,255,1);}

/**************************
HOME PAGE
**************************/
.home-intro {padding: 20px 0; text-align: center;}

/**************************
HOME PAGE - NEWS PANEL
**************************/
.home-news {width: 100%; background: #343a40; padding: 40px 0; text-align: center;}
.home-new-img {padding: 10px 0;}
.home-news h2 {color:#fff;}
.home-news p {color:#fff;}

/**************************
HOME PAGE - PROJECTS PANEL
**************************/
.home-projects {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-projects-img {padding: 10px 0;}
.home-projects h2 {color:#fff;}
.home-projects p {color:#fff;}

/**************************
HOME PAGE - PRODUCTS PANEL
**************************/
.home-products {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-products-img {padding: 10px 0;}
.home-products h2 {color:#fff;}
.home-products p {color:#fff;}

/**************************
NAVSIDEBAR
**************************/
.sidebar-module a {color: #9a9da0; text-decoration: none;}
.sidebar-module a:hover {color: #000;}
.navsidebar .active > a {color: #000;}
.list-group{ margin-top: 10px;}
.list-group-item.active{ background-color: #e8e8e8; border-color: #e8e8e8; }
.dropdown-item.active{ background-color: #5a5a5a; border-color: #5a5a5a; }

/* Sub Menu */
.navsidebar-sub {padding-left:10px;}

/**************************
PRODUCTS MODULE
**************************/
.products-row .col-md-4 {padding-top: 15px;}
.products-row {margin-top: 0!important; padding-bottom: 0!important; min-height: 0!important;}
.products-row .col-3 img {width: 100%;}

.products-row-txt {position:relative; top: -60px; margin-bottom: -60px; background: rgba(255,255,255,0.80); padding: 5px; }
.products-row h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; margin-bottom: 10px; text-align: center;}
.products-row h3 {color:#999999; text-transform: uppercase; font-size: 18px; letter-spacing: 0px; font-weight: 600; text-align: center;}
.products-row h4 {color:#000; font-size: 18px; font-weight: 600; text-align: center;}

.products-row-a, .products-row-a img,.div-img  {overflow:hidden;}
.products-row-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.products-row-a:hover  {color:#000;  overflow:hidden;   
	opacity:0.6;
}
.products-row-a:hover h3 {color: #fff;}
.products-row-a:hover h4 {color: #fff; }
.products-row-a:hover .products-row-txt {background: rgba(0,0,0,1.00);padding-bottom: 2px!important;} 

.product-item-price {color:#000; font-weight:700; font-size: 18px;}
.product-item-description {padding: 10px 0;}
.product-item-shipping {padding-bottom:20px;}
.product-item-shipping h3 {text-transform: uppercase; font-weight:400; letter-spacing: 3px; font-size: 13px;}

.btn-cart {text-transform: uppercase; background: #99cccc; padding:12px 0px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; width: 100%;}
.btn-cart:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

/**************************
PROPERTIES
**************************/
.card-columns {
    column-count: 3;
}

.card-img-top{
    height:200px;
    width:100%;
    object-fit: cover;
}

.property-cards .col-7{
    text-align: right;
}

.property-detail-box{
    background-color: #e8e8e8;
    padding-top: 15px;
    padding-bottom: 15px;
}

.property-header{
    height: 50px;
    background-color: #212529;
}

.property-header .header-suburb{
    color: #fff;
    font-size: 22px;
    padding: 10px;
    text-transform: uppercase;
}

.property-header .header-icons{
    color: #fff;
    padding: 13px;
    text-align: right;
}

.property-header .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.fotorama{
    background-color: #e8e8e8;
    margin-bottom: 15px;
}

.fotorama-floorplan{
    z-index: 9999 !important;
    position: relative;
    height: 100%;
}

.floorplan-img{
    object-fit: cover;
    height:100%;
    width:100%;
}

#floorplan{
    padding: 0 !important;
    margin-left: -1px;
}

.agent img{
    margin-right: 10px;
}

#map{
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

/**************************
DONATIONS
**************************/
.navbar-donation {padding:0 10px;}

.btn-donation {text-transform: uppercase!important; background: #999999; padding:5px 0px; color:#fff; font-size: 14px; letter-spacing: 2px; font-weight: 600; border: none; width: 100%;}
.btn-donation:hover {background: #fff; color:#999999; border: 1px solid #999999;}

.donationWrapper {padding: 10px 0; text-align: center;}
.donationWrapperInvisible {display:none;}
.txtDonationAmt {width: 100px;}	

.donationForm {display:none;}
.donationFormVisible {display:block;}

.donation-item a:hover > .donation-details {color:#fff!important; background-color: #000!important;}
.donation-details {background-color:#e8e8e8; text-align: center; color:#000; padding:20px; border-radius: 20px;}

.frmDonation .rad-donation {display:none;}
.frmDonation .label-amount {
	position: relative;
	color: #fff;
	background-color: #aaa;
	font-size: 18px;
	text-align: center;
	height: 150px;
	line-height: 100px;
	display: block;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
}

.frmDonation .radSectionAmount input:checked + .label-amount {
	border: 1px solid #000;
	background-color: #000!important;
}

.frmDonation .form-control[readonly] {background-color: #fff; border: none; padding: 0;}
.frmDonation .form-control[readonly]:focus {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

.donation-amt {position: absolute; bottom: 2px; width:100%; text-align: center;}

.btn-donation {text-transform: uppercase!important; background: #999999; padding:5px 20px; color:#fff; font-size: 14px; letter-spacing: 2px; font-weight: 600; border: none; width: auto; margin:10px 0;}
.btn-donation:hover {background: #fff; color:#999999; border: 1px solid #999999;}


#frmRegister input[type="checkbox"]  {width:auto; display: block; float: left; margin-right: 5px; margin-top: 5px;}
.form-control-label {display:block;}
#frmRegister .progress {height: 5px;}
#frmRegister #progressBarDiv {font-size: 11px; color: #6c757d; margin-top: 5px; text-transform: uppercase; opacity: 0;}

/**************************
SHOPPING CART
**************************/
.hidden-country {display:none!important; height:0!important;}

.table thead th {border-bottom: 2px solid #99cccc;}
.table td, .table th {border-top: 1px dotted #99cccc;}
.table thead th {letter-spacing: 4px; color:#000; font-size: 18px; border-top: none;}
.table td {color:#000; font-size: 16px; font-weight: 400;}
.table tfoot th {color:#000; font-size: 16px; text-align: right; border-top: 1px solid #99cccc; font-weight: 700;}
.td-center {text-align: center;}
.td-right {text-align: right;}

.btn-cart-remove {color: #99cccc!important; text-decoration: none; font-size: 16px !important; font-weight: 600; letter-spacing: 2px; position: relative; top: -4px; padding: 0; text-transform: lower;}	
.btn-cart-remove i {position: relative; top:1px;}
.btn-cart-remove:hover {color: #000!important; text-decoration: none;}

.btn-cart-shopping {color: #99cccc!important; text-decoration: none; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lower;}	
.btn-cart-shopping:hover {color: #000!important; text-decoration: none;}

.btn-checkout, .btn-checkout:active, .btn-checkout:visited {text-transform: uppercase; background: #99cccc; padding:12px 20px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; border-radius: 0;  border: 1px solid #99cccc;}
.btn-checkout:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

#checkout h3 {color: #99cccc !important; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lowercase;}

.alert-info {
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 0;      
    margin: 0 0px 20px 0px;
	padding:0;
}

.alert-success {color: #093!important; background-color:white; }
.alert-error {color:#FB0307}

.form-control-feedback {color: #CC0000; padding: 10px 0px 0px 10px;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px; /* Set the fixed height of the footer here (for sticky footer) */
  background-color: #e8e8e8;
	text-align: center;
}

#footer-social {color: #888; width:100%; margin: 0 auto; padding: 10px 0; text-align: center; font-size: 13px;}
#footer-social i {font-size:20px;}
#footer-social a, #footer-txt a:active {color: #888; text-decoration: none; font-size: 13px; line-height: 120%; padding: 0 10px;}
#footer-social a:hover{ color: #000; text-decoration: none;}

#footer-txt {color: #888; width:100%; margin: 0 auto; padding: 10px 0; text-align: center; font-size: 13px;}
#footer-txt a, #footer-txt a:active {color: #888; text-decoration: none; font-size: 13px; line-height: 120%; padding: 0 7px;}
#footer-txt a:hover{ color: #000; text-decoration: none;}

.footerContainer {padding: 40px 0;}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.pagination  li {padding: 0 5px; font-size: 16px;}

/**************************
HELPER - BUTTONS
**************************/
.btn-more {width: auto; margin-top: 10px!important; text-align: center;  } /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more a:hover {}

.btn-back {width:100%; font-size: 11px!important; font-weight: 400;  padding: 20px 0 0 0; }
.btn-back a, .btn-back a:active, .btn-back a:visited {color: #cc0000!important; text-decoration: none;}	
.btn-back a:hover {color: #cccccc!important;}

/**************************
HELPER - BACK TO TOP BUTTON
**************************/
#btnTopPage {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none;
  background-color: #cc1f36; 
  color: white; 
  cursor: pointer;
  padding: 10px; 
  border-radius: 0;
  font-size: 18px; 
}

#btnTopPage:hover {color:#000; background: rgba(204,31,54,0.85);}

/**************************
NEWS MODULE
**************************/
.news-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: 65%;}
.news-list-item-img {float: right;  width: 35%;}

.news-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.news-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.news-item-img {float: right;  width: 35%; height: auto; padding-top: 20px;  text-align: center; margin: 0;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
PROJECTS MODULE
**************************/
.project-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}

.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-item-img {float: right;  width: 35%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}


.team-block.cards-team .card{
    transition: 0.4s ease;
}

.team-block.cards-team .card img {}

@media (min-width: 576px) {
    .team-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
    }
}

/**************************
RESPONSIVE
**************************/
@media only screen and  (max-width: 768px) {
    .container .row {width: 100%; padding: 0px; min-height: 50px; display: -webkit-flex;display: -webkit-box;  flex-direction: column; -webkit-flex-direction: column;}		
	
	.blog-sidebar  {width: 100%; padding: 0 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2; }			
	.blog-main { width: 100%; padding: 20px 10px 10px 10px; margin: 0; background: none; border: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%;}	
}