/**************************
LOGIN PAGE
**************************/
.login-page {background: #222d32; height: unset !important;}
.login-logo-img {float:left; position: relative; top: -2px;}
.login-logo { background: #a6dbd7; margin-bottom: 0px; text-align: left; padding-left: 10px;}
.login-logo a {color:#fff; font-weight: 400;padding-left: 10px;}
.login-box-msg {text-align: left;padding: 0 20px 20px 0px ;}
	
/**************************
HEADER
**************************/
.skin-blue .main-header .logo {background-color: #a6dbd7;}
.skin-blue .main-header a:hover {background-color: #000!important;}
.skin-blue .main-header .navbar {background-color: #222d32;}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {border-left-color: #a6dbd7;}
.btn-primary {background-color: #00c0ef; border-color: #00acd6;}
.btn-primary:hover {background:#00acd6; border-color:#00acd6;}

.navbar-logo {height: 50px; width: auto; position: relative; top: -2px;}
.navbar-company-name {color: #fff; float:left; padding: 10px 15px;font-size: 20px;}

header .sidebar-toggle::before {content:''!important;}

/**************************
NAVIGATION
**************************/
.sidebar-menu .treeview-menu > li > a {padding: 5px 5px 5px 35px;}
.sidebar-menu .treeview-menu > li > a i {font-size:8px; width:10px!important; position: relative; top:-2px;}

/**************************
DASHBOARD
**************************/
.iframe-container{
    height: 100px;
}

.cms-iframe{
    height: 100%;
    width: 100%;
    border: none !important;
}

/**************************
FOOTER
**************************/
.main-footer {color:#45ABA3; font-weight: 600;}
.main-footer a {color: #b71319;}
.main-footer a:hover {color: #000;}
.main-footer span {padding: 0 7px;}

.login-footer {width: 100%; text-align: center; color:#999;}
.login-footer a {color: #b71319;}
.login-footer a:hover {color: #a6dbd7;}
.login-footer span {padding: 0 7px;}

/**************************
NEWS MODULE
**************************/
.news-archive-date {color:#cd853f;}

/**************************
ORDERS MODULE
**************************/
.orders-header {
	font-size: 18px;
    font-weight: 600;
}

.orders-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #D0D9DB;
    border-radius: 0.25rem;
	margin-bottom: 20px;
}

.orders-card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #F1F3F3;
    border-bottom: 1px solid #D0D9DB;
	font-size: 18px;
    font-weight: 600;
}

.orders-card-block {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
	font-size: 14px;
	font-weight: 400;
	background-color: #fff;
}

.orders-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
	font-size: 14px;
	font-weight: 400;
}

.table th {
	padding: 0.75rem;       
	vertical-align: bottom;
    border-top: 1px solid #f4f4f4;
}

.orders-table-price {text-align: right; }
.orders-table-total {text-align: right; font-weight: bold; padding-top:10px; }

/**************************
PAGES MODULE
**************************/

#added_image img{
    width: 100%;
}

/**************************
USERS MODULE
**************************/

.module-permission-container{
    height: 315px;
}

/**************************
SETTINGS
**************************/
.header-image img{
    width: 100%;
}

.header-image-buttons{
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-image-buttons button{
    margin-left: 0;
}

/**************************
GENERAL
**************************/
.tool{color: #222d32;font-size: 16px;margin-left: 10px;}
.tool:hover{color:#647075;}

.confirmation-buttons{
    width: 110px !important;
}

.inc-radio{
    height: 34px;
}

.inc-radio .col-sm-10{
    padding-top: 7px;
}
.radio-label{
    margin-right: 20px;
}

.checkbox label, .radio label{
    padding-left: 0;
}

.pagination{
    margin: 0 !important;
}

#pagination_count{
    width: 60px !important;
}

.total-row{
    margin-left: 10px;
}

.sortable-handle{
	width: 30px;
	cursor: move;
}

.id-column{
	width: 50px;
}

.image-box{
    position:relative;
    width: 200px;
    height: 160px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0px !important;
    border: 1px solid #888;
    background-color: #fff;
    cursor: move;
}

.image-item{
    max-width: 150px;
    max-height: 80px;
}

.image-box-toolbox{
    position:relative;
    padding-top:10px;
    padding-bottom:10px;
    width: 200px;
}

.image-box-img{
    position:relative;
    width: 200px; 
    text-align: center;
}

.image-box-footer{
    position:absolute;
    width: 200px;
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
    bottom:0;
}

/*---------------------*/
.floorplan-box{
    position:relative;
    width: 200px;
    height: 160px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0px !important;
    border: 1px solid #888;
    background-color: #fff;
    cursor: move;
}

.floorplan-item{
    max-width: 150px;
    max-height: 80px;
}

.floorplan-box-toolbox{
    position:relative;
    padding-top:10px;
    padding-bottom:10px;
    width: 200px;
}

.floorplan-box-img{
    position:relative;
    width: 200px;
    text-align: center;
}

.floorplan-box-footer{
    position:absolute;
    width: 200px;
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
    bottom:0;
}
/*---------------------*/

.mailbox-controls-container{
    width: 100%;
    height: 40px;
}

.tool-buttons {
    width: 120px;
    height: 40px;
    float: left;
}

.paginate-dropdown {
    width: 500px;
    height: 40px;
}

.invisible{
    display: none;
}

.btn-info {margin-left:5px;}

.input-textbox-button {width:100%;}
.input-textbox {float:left; width:84%;}
.input-button {float:left; width:16%;}

.sidebar-menu>li>a>.fas, .sidebar-menu>li>a>.far{
    width: 20px;
}

.hd-text-right{
    text-align: right;
}

.sw-theme-default {
    box-shadow: none !important;
    padding: 10px !important;
}

.sw-btn-group{
    float: right !important;
}

.sw-theme-default > ul.step-anchor > li.active > a {
    color : #00c0ef !important;
}

.sw-theme-default > ul.step-anchor > li > a::after {
    background: #00c0ef !important;
}

.radio-label{
    margin-top: 10px;
    font-weight: 400;
}

.cb-label{
    font-weight: 400;
}

.features_container{
    padding-left: 0;
    margin-top: 10px;
}

.add-ins-button{
    margin-top: 3px;
}

#inspections{
    margin-top: 15px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.btnRemove{
    margin-left: 5px !important;
}